h1 {
  font-family: 'Montserrat, sans-serif';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container-fluid {
  padding: 3% 15%
}

#title {
  background-color: #ff4c68;
  color: white;
}

/* Navigation Bar */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat, sans-serif';
  font-weight: 400;
  font-size: 1.3rem;
}

/* Download Buttons */
.donwload-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  margin-left: 15%;
}

/* Features heading */
h3 {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: bold;
}

#features {
  margin: 5% 0;
}

.features-icon {
  color: #ef8172;
  margin-bottom: 5%;
}

.features-icon:hover {
  color: #ff4c68;
}

.features-description {
  color: #8f8f8f;
  margin: 0 10% 5% 10%;
}

/* Testimonials Section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


/* press */
#press {
  background-color: #ef8172;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 16px 20px 40px 20px;
}
