body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

.big-heading {
  font-family: 'Montserrat, sans-serif';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Title section */

#title {
  background-color: #ff4c68;
  color: white;
  text-align: left;

}

/* Navigation Bar */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat, sans-serif';
  font-weight: 400;
  font-size: 1.3rem;
}

/* Download Buttons */
.donwload-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  margin-left: 15%;
  position: absolute;
}

/* Features heading */
#features {
  padding: 7% 0 7%;
  margin: 0 5%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.features-icon {
  color: #ef8172;
  margin-bottom: 5%;
}

.features-icon:hover {
  color: #ff4c68;
}

.features-description {
  color: #8f8f8f;
  margin: 0 10% 5% 10%;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
  color: white;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

/* press */
#press {
  background-color: #ef8172;
}

.press-logo {
  width: 15%;
  margin: 16px 20px 40px 20px;
}

/* Pricing section */
#pricing {
  padding: 100px;

}

.price-text {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.section-heading {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.dog-text {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
}

/* Call to action (CTA) section */
#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
  color: white;

}

/* footer section */
#footer {
  color: gray;
  background-color: white;

  padding: 7% 15%;
}

.social-icon {
  margin: 20px 10px;
}

@media(max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
