h1 {
  font-family: 'Montserrat, sans-serif';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container-fluid {
  padding: 3% 15%
}

#title {
  background-color: #ff4c68;
  color: white;
}

/* Navigation Bar */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.navbar{
  padding:0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-family: 'Montserrat, sans-serif';
  font-weight: 400;
  font-size: 1.3rem;
}

/* Download Buttons */
.donwload-button{
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image{
  width: 60%;
}
